

@media (width >= 1024px) and (aspect-ratio >= 1/1.5) {
    .main-wrapper {
        max-width: 60em;
        padding: 0px;
        padding-left: 1em;
        padding-right: 1em;
        border: 0px solid red;
        margin: 0 auto;
        box-sizing: content-box;

        
        display: grid;
        row-gap: 1em;
        grid-template-rows: auto auto auto auto;
        align-items: stretch;
        justify-items: stretch;

    }


/*>myinfo*/
    #myinfo {
        padding: 0px;
        border: 0px solid red;
        display: grid;
        grid-template-columns: 7.5fr 2.5fr;
        align-items: stretch;
        justify-items: center;
        margin: 0px;
        margin-bottom: 1em;
    }

    #keyinfo {
        padding: 0px;
        border: 0px solid red;
        margin: 0px;
        grid-column: 1;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
        font-size: 1.1em;
        align-items: center;
        justify-items: stretch;
    }

    .infoline {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        display: grid;
        justify-items: left;
        grid-template-columns: 7fr 1fr 30fr;
    }

    #email-address {
        word-break: break-all;
    }

    #myphoto {
        grid-column: 2;
    }

    #myphoto img {
        max-width: 10em;
        border-radius: 5px;
    }

/*<myinfo*/


}

@media (width < 1024px) and (width >= 768px) and (aspect-ratio >= 1/1.5) {

    .main-wrapper {
        max-width: 50em;
        padding: 0px;
        padding-left: 1em;
        padding-right: 1em;
        border: 0px solid red;
        margin: 0 auto;
        box-sizing: content-box;

        display: grid;
        row-gap: 1em;
        grid-template-rows: auto auto auto auto;
        align-items: stretch;
        justify-items: stretch;

    }


    /*>myinfo*/
    #myinfo {
        padding: 0px;
        border: 0px solid red;
        display: grid;
        grid-template-columns: 7.5fr 2.5fr;
        align-items: stretch;
        justify-items: stretch;
        margin: 0px;
        margin-bottom: 1em;
    }

    #keyinfo {
        padding: 0px;
        border: 0px solid red;
        margin: 0px;
        grid-column: 1;

        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        
        justify-items: stretch;
        font-size: 1.1em;
        align-items: center;
    }

    .infoline {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        display: grid;
        justify-items: left;
        grid-template-columns: 7fr 1fr 30fr;
    }

    #email-address {
        word-break: break-all;
    }

    #myphoto {
        grid-column: 2;
    }

    #myphoto img {
        max-width: 10em;
        border-radius: 5px;
    }

/*<myinfo*/

}

@media (width < 768px) or (aspect-ratio < 1/1.5) {
    .main-wrapper {
        max-width: 40em;
        padding: 0px;
        padding-left: 1em;
        padding-right: 1em;
        border: 0px solid red;
        margin: 0 auto;
        box-sizing: content-box;
        
        display: grid;
        row-gap: 1em;
        grid-template-rows: auto auto auto auto;
        align-items: stretch;
        justify-items: stretch;

    }


    /*>myinfo*/
    #myinfo {
        padding: 0px;
        border: 0px solid red;
        display: grid;
        grid-template-rows: atuo auto;
        align-items: stretch;
        justify-items: center;
        margin: 0px;
        margin-bottom: 1em;
    }


    #myphoto {
        grid-row: 1;
    }

    #myphoto img {
        max-width: 10em;
        border-radius: 5px;
    }

    #keyinfo {
        padding: 0px;
        padding-top: 1em;
        border: 0px solid red;
        margin: 0px;
        grid-row: 2;

        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        
        justify-items: stretch;
        font-size: 1.1em;
        align-items: center;
    }

    .infoline {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        display: grid;
        justify-items: left;
        grid-template-columns: 7fr 1fr 30fr;
    }

    #email-address {
        word-break: break-all;
    }


/*<myinfo*/


}




/*>myprofile*/

#myprofile {
    padding: 0em;
    border: 0px solid red;
    margin: 0px;
    margin-bottom: 1em;
}

#myprofile > p {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    line-height: 1.5em;
    font-size: 1.1em;
}

/*<myprofile*/




/*>cv block*/
.cv-block-wrapper {
    margin: 0px;
    margin-bottom: 2em;

}


.cv-block {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    margin-bottom: 3em;
    line-height: 1.3em;
}

.cv-block-head {
    font-weight: bold;
    font-size: 1.3em;
    padding: 0.2em;
    padding-left: 0.4em;
    padding-top: 0.4em;
    padding-bottom: 0.1em;
    border: 0px solid red;
    border-left: 0.2em solid rgba(28, 34, 36, 0.5);
    border-bottom: 0.1em solid rgba(71, 82, 85, 0.5);
    margin: 0px;
    border-top-left-radius: 0.8em;
    margin-bottom: 2em;
}

.cv-block-body {
    padding: 0px;
    border: 0px solid red;
    margin-left: 1em;
    margin-right: 1.25em;
}

.cv-entry {
    margin-bottom: 2.5em;
}

.cv-entry-head {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    margin-bottom: 1.2em;
    font-weight: bold;
    font-size: 1.12em;
    color: rgb(30, 76, 145);
}

.cv-entry-head a {
    color: rgb(31, 89, 128);
}

.cv-entry-expand {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    padding: 0em;
    border: 0px solid red;
    margin: 0px;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 1em;
    
}

.cv-entry-supplementary {
    padding: 0em;
    border: 0px solid red;
    margin: 0px;
}



.cv-entry-sup-head {
    font-style: italic;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(25, 47, 70);
}

.cv-entry-sup-info {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    margin-left: 1em;
    margin-bottom: 0.5em;
    line-height: 1.3em;
    text-align: justify;
    
}

.cv-entry-sup-info a {

    color: rgb(54, 54, 163);
    text-decoration: underline;

}

.publication-info {
    margin-top: 2em;
    line-height: 1.3em;
    text-align: justify;
}

.pub-contribution {
    margin-top: 1em;
}

.publication-info a {
    color: rgb(14, 85, 166);
    font-style: italic;
    text-decoration: underline;
}

/*<cv block*/




/*>life record*/

.life-record {
    border: 0.1em solid rgba(235, 241, 241, 0.85);
    border-top: 0.3em solid rgba(128, 128, 128, 0.5);
    border-bottom: 0.2em dashed rgba(128, 128, 128, 0.8);
    margin: 0px;

}

.life-record-wrapper {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
}

.life-title {
    padding: 0px;
    border: 0px solid gray;
    border-top: 0px solid gray;
    margin: 0px;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.life-title > p {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.life-head {
    padding: 0px;
    border: 0px solid red;
    margin-bottom: 1em;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    grid-template-columns: 80px 1fr 1fr;
}

#hrf1c {
    color: rgb(22, 94, 22);
    background-color: rgba(191, 204, 188, 0.507);
    font-weight: bold;
}

#hrf2c {
    color: rgb(39, 132, 172);
    background-color: rgba(166, 187, 204, 0.473);
    font-weight: bold;
}

#hrf3c {
    color: rgb(89, 89, 17);
    background-color: rgba(154, 170, 132, 0.521);
    font-weight: bold;
}


.life-body {
    margin-bottom: 2.5em;

}

.body-row {
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
    padding: 0px;
    border-left: 0.2em solid rgb(17, 125, 66);
    margin: 0px;
    align-items: center;
    justify-items: stretch;
}

.brf1 {
    grid-column: 1;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.brf1c {
    text-align: left;
    color: rgb(31, 134, 31);
}

.brf2 {
    grid-column: 2;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.brf2c {
    padding: 0.8em;
    padding-left: 0.6em;
    border: 0.1em solid rgb(123, 132, 56);
    border-left: 0.2em solid rgb(134, 152, 40);
    border-radius: 0.3em;
    margin: 0px;
    margin-right: 1em;
    
    color: rgb(58, 108, 148);
    text-align: left;
}

.brf3 {
    grid-column: 3;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.brf3c {
    padding: 0.8em;
    padding-left: 0.6em;
    border: 0.1em solid rgb(75, 106, 192);
    border-left: 0.2em solid rgb(43, 122, 187);
    border-radius: 0.3em;
    margin: 0px;
    margin-right: 1em;
    
    color: rgb(21, 70, 33);
    text-align: left;
}

/*<<<life record*/

