/*css for show and print the CV*/
body {
    padding: 0;
    border: 0;
    margin: 0;
}

header {
    display: none;
}

footer {
    display: none;
}

.main-wrapper .life-record {
    display: none;
}

.print-cv-resume {
    display:  none;
}

.main-wrapper {
    box-sizing: border-box;
    max-width: 790px;
    padding: 0;
    padding-top: 3.5em;
    padding-bottom: 3em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0 auto;

    display: grid;
    grid-template-rows: auto auto auto auto;
    align-items: stretch;
    justify-items: stretch;
    gap: 1.6em;
}


/*>*/
#myinfo {
    grid-row: 1;

    font-size: 1.05em;

    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: stretch;
    justify-items: stretch;


}

#keyinfo  {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: start;
}

#keyinfo :last-child {
    grid-column: 1/3;
}

.infoline {
    padding-right: 0.5em;
}

.infoline :first-child{
    font-weight: bold;
}


#myphoto img {
    max-width: 120px;
}


#email-address {
    word-break: break-all;
}

/*<*/


/*>*/
#myprofile {
    grid-row: 3;
    display: none;

    font-size: 1.04em;
    line-height: 1.3em;
    text-align: justify;
}

#myprofile p {
    padding: 0;
    border: 0;
    margin-bottom: 0.8em;
}

#myprofile p:last-child {
    margin-bottom: 0em;
}
/*<*/

/*>*/
.cv-block-wrapper {
    grid-row: 2;
}

.cv-block {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    margin-bottom: 2.4em;
    line-height: 1.3em;
}

.cv-block-head {
    font-weight: bold;
    font-size: 1.32em;
    padding: 0.2em;
    padding-left: 0.4em;
    padding-top: 0.4em;
    padding-bottom: 0.1em;
    border: 0px solid red;
    border-left: 0.2em solid rgba(28, 34, 36, 0.5);
    border-bottom: 0.1em solid rgba(71, 82, 85, 0.5);
    margin: 0px;
    border-top-left-radius: 0.8em;
    margin-bottom: 1em;
}

.cv-block-body {
    padding: 0px;
    border: 0px solid red;
    margin-left: 0em;
    margin-right: 0em;
}

.cv-entry {
    margin-bottom: 1.6em;
}

.cv-entry-head {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(30, 76, 145);
}

.cv-entry-head a {
    color: rgb(31, 89, 128);
}

.cv-entry-expand {
    display: grid;
    grid-template-columns: 53% 25% 22%;
    padding: 0em;
    border: 0px solid red;
    margin: 0px;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 1em;
    
}

.cv-entry-supplementary {
    padding: 0em;
    border: 0px solid red;
    margin: 0px;
}



.cv-entry-sup-head {
    font-style: italic;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(25, 47, 70);
    margin-bottom: 0.3em;
}

.cv-entry-sup-info {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    margin-left: 0.2em;
    margin-bottom: 0.5em;
    line-height: 1.3em;
    text-align: justify;
    
}

.cv-entry-sup-info a {

    color: rgb(54, 54, 163);
    text-decoration: underline;

}

.publication-info {
    margin-bottom: 1.2em;
    line-height: 1.3em;
    text-align: justify;
}

.pub-contribution {
    margin-top: 0.5em;
}

.publication-info a {
    color: rgb(14, 85, 166);
    font-style: italic;
    text-decoration: underline;
}

.pub-contribution p:first-child {
    font-weight: bold;
}

/*<*/

#projects {
    display: none;
}

#course {
    display: none;
}



#education .cv-entry-supplementary {
    display: none;
}

.cv-entry-sup-info.second-para {
    display: none;
}
