html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: stretch;
    justify-items: stretch;
    font-size: 100%;
    font-family: Lato, Helvetica, Arial, sans-serif;
    background-color: #fafafa;
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    
}

a {
    color: black;
    text-decoration: none;
}

p {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
}

/*>header*/
header {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    background-color: rgb(8, 27, 59);
    margin-bottom: 2em;
}

.header-wrapper a {
    color: #dfcece;
    text-decoration: none;
}


@media (width >= 1024px) and (aspect-ratio >= 1/1.5) {
    .header-wrapper {
        max-width: 65em;
        padding: 1em;
        padding-bottom: 0;
        border: 0px solid red;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        align-items: baseline;
        color: #dfcece;

    }

    #page-name {
        grid-row: 1;
        grid-column: 1;
        justify-self: start;
        font-size: 1.3em;
        color: #f1eaea;
        margin: 1em 0;
    }
        
    #motto {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        font-size: 1.1em;
        color: #f3ecec;
        margin: 1em 0;
    }

    .page-nav {
        grid-row: 2;
        grid-column: 1/3;
        display: flex;
        align-items: center;
        
    }
    .nav-ele {
        flex: 1;
        border: 0 solid red;
        border-right: 3px solid #ddd6d6;
        margin: 0px;
        text-align: center;
        padding: 0.5em;
        background-color: #19264b;
    }

    .nav-ele:hover {
        background-color: rgb(38, 37, 97);
    }

    .page-nav :last-child {
        border-right: 0 solid red;
    }
    
}

@media (width < 1024px) and (width >= 768px) and (aspect-ratio >= 1/1.5) {

    .header-wrapper {
        max-width: 55em;
        padding: 1em;
        padding-bottom: 0;
        border: 0px solid red;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        align-items: baseline;
        color: #dfcece;

    }
    
    #page-name {
        grid-row: 1;
        grid-column: 1;
        justify-self: start;
        font-size: 1.3em;
        color: #f1eaea;
        margin: 1em 0;
    }
    
    #motto {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        font-size: 1.1em;
        color: #f3ecec;
        margin: 1em 0;
    }
    
    .page-nav {
        grid-row: 2;
        grid-column: 1/3;
        display: flex;
        align-items: center;
        
    }
    .nav-ele {
        flex: 1;
        border: 0 solid red;
        border-right: 3px solid #ddd6d6;
        margin: 0px;
        text-align: center;
        padding: 0.5em;
        background-color: #19264b;
    }

    .nav-ele:hover {
        background-color: rgb(38, 37, 97);
    }

    .page-nav :last-child {
        border-right: 0 solid red;
    }
    
}

@media (width < 768px) or (aspect-ratio < 1/1.5) {

    .header-wrapper {
        max-width: 45em;
        padding: 1em;
        border: 0px solid red;
        margin: 0 auto;

        display: grid;
        grid-template-rows: auto auto auto;
        align-items: baseline;
        color: #dfcece;
    }

    
    #page-name {

        grid-row: 1;
        justify-self: start;
        font-size: 1.3em;
        color: #f1eaea;
    }
    
    #motto {
        grid-row: 2;
        grid-column: 2;
        justify-self: end;
        font-size: 1.1em;
        color: #f3ecec;
    }
    
    .page-nav {
        grid-row: 3;
        display: none;
    }
}

/*<header*/


/*>main*/

main {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    margin-bottom: 2em;
}


/*<main*/

/*>footer*/
footer {
    background-color: rgb(9, 24, 53);
    min-height: 3em;
}
/*<footer*/
