    @charset "utf-8";

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 100%;
    font-family: Lato, Helvetica, Arial, sans-serif;
    background-color: #fafafa;
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
   
}

/*> header*/
header {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    margin-bottom: 2em;
    background-color: rgb(8, 27, 59);
}


@media (width >= 1024px) and (aspect-ratio >= 1/1.5) {

    .header-wrapper {
        padding: 1em;
        border: 0px solid red;
        max-width: 65em;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 60% 40%;
        align-items:center;
        justify-items: stretch;
        box-sizing: content-box;

    }

        
    #logo {
        padding: 0px;
        border: 0px solid red;
        margin: 0px;
    }

    #logo-icon {
        padding: 0%;
        border: 0px solid red;
        margin: 0 auto;
        max-width: 20em;

    }

    #head-email {
        align-self: end;
    }

    #head-email p {
        padding: 0;
        border: 0 solid red;
        margin: 0;
        margin-bottom: 0.1em;
        color: #fafafa;
    }
    #head-email a {
        color: #fafafa;
        text-decoration: none;
    }

}


@media (width < 1024px) and (width >= 768px) and (aspect-ratio >= 1/1.5) {
    .header-wrapper {
        padding: 1em;
        border: 0 solid red;
        max-width: 55em;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 60% 40%;
        align-items:center;
        justify-items: stretch;
        box-sizing: content-box;

    }
        
    #logo {
        padding: 0px;
        border: 0px solid red;
        margin: 0px;

    }

    #logo-icon {
        padding: 0%;
        border: 0px solid red;
        margin: 0px;
        max-width: 20em;

    }

    #head-email {
        align-self: end;

    }

    #head-email p {
        padding: 0px;
        border: 0px solid red;
        margin: 0px;
        margin-bottom: 0.1em;
        color: #fafafa;
    }
    #head-email a {
        color: #fafafa;
        text-decoration: none;
    }

}


@media (width < 768px) or (aspect-ratio < 1/1.5) {
    .header-wrapper {
        padding: 1em;
        max-width: 45em;
        margin: 0 auto;
        box-sizing: content-box;

        display: grid;
        grid-template-rows: 60% 40%;
        align-items:center;
    }
        
    #logo {
        padding: 0px;
        border: 0px solid red;
        margin: 0px;
        justify-self: left;

    }

    #logo-icon {
        padding: 0%;
        border: 0px solid red;
        margin: 0px;
        max-width: 20em;

    }

    #head-email {
        justify-self: left;

    }

    #head-email p {
        padding: 0px;
        border: 0px solid red;
        margin: 0px;
        color: #fafafa;
    }
    #head-email a {
        color: #fafafa;
        text-decoration: none;
    }

}

/*<header*/

/*>main*/
main {
    width: 100%;
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    margin-bottom: 2em;
}


@media (width >= 1024px) and (aspect-ratio >= 1/1.5) {
    .main-wrapper {
        padding: 0px;
        padding-left: 1.5em;
        padding-right: 1.5em;
        border: 0px solid red;
        max-width: 60em;
        margin: 0 auto;
        box-sizing: content-box;

        display: grid;
        grid-template-rows: auto auto;
        column-gap: 2em;

    }

    #introduction {
        padding: 0px;
        border: 0px solid blue;
        margin: 0px;
    }

    #introduction > p {
        padding: 0em;
        border: 0px solid red;
        margin: 0px;
        font-size: 1.2em;
        line-height: 1.5em;
        text-align: justify;

    }

    #introduction #first-p::first-letter {
        font-size: 160%;
        color: rgb(18, 60, 196);
    }

    #stickers {
        padding: 0px;
        border: 0px solid blue;
        margin: 0 1em;

        display: grid;
        gap: 1.5em;
        grid-template-columns: 50% 50%;
        justify-items: stretch;
        align-items: stretch;

    }

    .sticker {
        padding: 1em;
        padding-left: 1.6em;
        border: 0px solid red;
        margin: 1.5em;
        background-color: rgb(220, 220, 220);
        border-radius: 0.5em;
    }

    .sticker a {
        color: black;
        text-decoration: underline;
    }

    .sticker .sti-h {
        font-size: 1.8em;
    }

}


@media (width < 1024px) and (width >= 768px) and (aspect-ratio >= 1/1.5) {

    .main-wrapper {
        padding: 0px;
        padding-left: 1.5em;
        padding-right: 1.5em;
        border: 0px solid red;
        max-width: 50em;
        margin: 0 auto;
        box-sizing: content-box;

        display: grid;
        grid-template-rows: auto auto;
        column-gap: 2em;

    }

    #introduction {
        padding: 0px;
        border: 0px solid blue;
        margin: 0px;
    }

    #introduction > p {
        padding: 0em;
        border: 0px solid red;
        margin: 0px;
        font-size: 1.2em;
        line-height: 1.5em;
        text-align: justify;

    }

    #introduction #first-p::first-letter {
        font-size: 160%;
        color: rgb(18, 60, 196);
    }

    #stickers {
        padding: 0px;
        border: 0px solid blue;
        margin: 0 1em;

        display: grid;
        gap: 1em;
        grid-template-columns: 50% 50%;
        justify-items: stretch;
        align-items: stretch;

    }

    .sticker {
        padding: 1em;
        padding-left: 1.6em;
        border: 0px solid red;
        margin: 1.2em;
        background-color: rgb(220, 220, 220);
        border-radius: 0.5em;
    }

    .sticker a {
        color: black;
        text-decoration: underline;
    }

    .sticker .sti-h {
        font-size: 1.8em;
    }

}


@media (width < 768px) or (aspect-ratio < 1/1.5){

    .main-wrapper {
        padding: 0px;
        padding-left: 1.5em;
        padding-right: 1.5em;
        border: 0px solid red;
        max-width: 40em;
        margin: 0 auto;
        box-sizing: content-box;

        display: grid;
        grid-template-rows: auto auto;
        column-gap: 3em;

    }

    #introduction {
        padding: 0px;
        border: 0px solid blue;
        margin: 0px;
    }

    #introduction > p {
        padding: 0em;
        border: 0px solid red;
        margin: 0px;
        font-size: 1.2em;
        line-height: 1.5em;
        text-align: justify;

    }

    #introduction #first-p::first-letter {
        font-size: 160%;
        color: rgb(18, 60, 196);
    }

    #stickers {
        padding: 0px;
        border: 0px solid blue;
        margin: 0px 1em;

        display: grid;
        gap: 1em;
        grid-template-columns: 1fr;
        justify-items: stretch;
        align-items: stretch;

    }

    .sticker {
        padding: 1em;
        padding-left: 1.6em;
        border: 0px solid red;
        margin: 1em;
        margin-left: 2em;
        margin-right: 2em;
        background-color: rgb(220, 220, 220);
        border-radius: 0.5em;
    }

    .sticker a {
        color: black;
        text-decoration: underline;
    }

    .sticker .sti-h {
        font-size: 1.8em;
    }

}


/*<main*/

/*>footer*/
footer {
    padding: 0px;
    border: 0px solid red;
    background-color: rgb(3, 13, 31);
}

.footer-wrapper a {
    text-decoration:  none;
    color: #fafafa;
}


.mytimego {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
}

.footer-wrapper ul {
    padding: 0px;
    list-style-type: none;
    margin: 0px;
}



.footer-wrapper ul li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

progress {
    border-radius: 5px;
    background-color: rgb(214, 203, 189);
    height: 1em;
    box-shadow: 0.1em;
    border: 1px solid black;
    
}
progress::-moz-progress-bar {
    background-color: brown;
    border-radius: 3px;
}


@media (width >= 1024px) and (aspect-ratio >= 1/1.5){

    .footer-wrapper {
        padding: 1em;
        border: 0px solid red;
        max-width: 65em;
        margin: 0 auto;
        box-sizing: content-box;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        gap: 1em;
        color: #fafafa;
    }


    .mytimego {
        grid-row: 1;
        grid-column: 1/3;
    }

    .mylink {
        grid-row: 2;
        grid-column: 1;
    }

    .other-link {
        grid-row: 2;
        grid-column: 2;
    }

}

@media (width < 1024px) and (width >= 768px) and (aspect-ratio >= 1/1.5) {

    .footer-wrapper {
        padding: 1em;
        border: 0px solid red;
        max-width: 55em;
        margin: 0 auto;
        box-sizing: content-box;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        gap: 1em;
        color: #fafafa;
    }
    

    .mytimego {
        grid-row: 1;
        grid-column: 1/3;
    }

    .mylink {
        grid-row: 2;
        grid-column: 1;
    }

    .other-link {
        grid-row: 2;
        grid-column: 2;
    }

}

@media (width < 768px) or (aspect-ratio < 1/1.5) {

    .footer-wrapper {
        padding: 1em;
        border: 0px solid red;
        max-width: 45em;
        margin: 0 auto;
        box-sizing: content-box;
        
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        gap: 1em;
        align-items: center;
        color: #fafafa;
    }



}

/*<footer*/

