@charset "utf-8";

html {
    height: 100%;
}

p {
    padding: 0;
    border: 0;
    margin: 0;
}

a {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration:  none;
}

h1 {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
}

h2 {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 100%;
    font-family: MessinaSans, Lato, Helvetica, Arial, sans-serif;
    background-color: #ededed;

}

/*header>*/
header {
    background-color: rgb(33, 33, 34);
    padding: 0;
    border: 0px solid red;
    margin: 0;
    min-height: 7em;
    display: grid;
    grid-template-columns: 2fr 5fr;

}

header p {
    color: #fefefe;
}

.header-left {
    padding: 0;
    border: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#logo {
    display: grid;
    align-items: center;
    justify-items: center;
}

#logo a {
    display: grid;
    align-items: center;
    justify-items: center;
}

#logo img {
    justify-self: right;
    max-width: 50%;
}

#my-name {
    display: grid;
    align-items: center;
    justify-items: left;
}

#my-name p {
    font-size: 2.3em;
}

.header-right {
    display: grid;
    align-items: center;
    justify-items: stretch;
}

#nav-main {
    display: grid;
    align-items: center;
    justify-items: stretch;
    margin-right: 5em;

}

.nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: stretch;
}

.nav-list p {
    font-size: 1.3em;
    background-color: rgb(13, 13, 13);
    padding: .7em 0;
    border: 0;
    margin-right: 9px;
    min-width: 92%;
    text-align: center;
    border-radius: 3px;

}

.nav-list p:hover {
    background-color: rgb(63, 63, 63);
}
/*<header*/


/*main>*/
main {
    background-color: rgb(242, 242, 242);
    padding: 1em 0;
    border: 0px solid red;
    margin: 0;
    min-height: 40em;
    display: grid;
    grid-template-columns: 2fr 5fr;
    align-items: stretch;
    justify-items: stretch;
}

.main-left {
    padding: 0;
    border-right: 1px solid rgb(99, 99, 99);
    margin: 0;

}


#main-right {
    border: 0px solid red;
    padding: 1em;
    border: 0;
    margin-right: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-left: 4em;
    padding-right: 4em;
}
/*<main*/


/*footer>*/
footer {
    background-color: rgb(36, 38, 39);
    padding: 0em;
    border: 0px solid red;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 5fr;

}

footer p {
    color: #ffffff;
}

footer ul {
    padding: 0px;
    list-style-type: none;
    margin: 0px;
}

footer ul li {
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}

footer a { 
    text-decoration:  none;
    color: #fafafa;
}

.footer-left {
    padding: 0;
    padding-left: 2em;
    padding-top: 1em;
    border-right: 0px solid rgb(211, 202, 202);
    margin: 0;
    display: grid;
    grid-template-rows: 3fr 1fr;

}

.footer-right {
    padding: 0;
    padding-left: 2em;
    padding-top: 1em;
    border: 0;
    margin: 0;
    margin-right: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.mylink {
    padding: .5em;
    border: 0;
    margin: 0;
}

#timelabel {
    color: white;
}

progress {
    padding: 0;
    margin-left: 3px;
    border: 0;
    border-radius: 3px;
}

.copyrights {
    align-self: baseline;
}

/*<footer*/