
.main-wrapper {
    padding: 0 1em;
    border: 0 solid red;
    margin: 0 auto;
    max-width: 60em;

    display: grid;
    grid-template-rows: auto auto;
    gap: 0.2em;

}

.main-nav {

    grid-row: 1;

    padding: 0;
    border: 0;
    margin: 0;
    position: relative;
    top: -2em;

}

.nav-labels {
    display: flex;

}

.nav-lb {
    flex: 1;
    
    padding: 0.4em 0;
    border: 1px solid rgb(50, 87, 117);
    margin: 2px 0;
    border-radius: 3px;

    text-align: center;
    font-size: 1.2em;
    font-weight: bold;

    background-color: rgba(60, 106, 150, 0.788);
}

.nav-lb:hover {
    background-color: rgba(78, 156, 113, 0.788);
    transform: scale(1.01);
    transition: background-color 0.5s;


}


.view-window {
    grid-row: 2;
    justify-self: stretch;

    padding: 0;
    border: 0;
    margin: 0;
}

.section-block {
    padding: 0;
    border: 1px solid black;
    margin: 0;

    border-radius: 3px;

}

.section-title p {
    font-size: 1.8em;
    
}

@media (width >= 1024px) and (aspect-ratio >= 1/1.5) {}
@media (width < 1024px) and (width >= 768px) and (aspect-ratio >= 1/1.5) {}
@media (width < 768px) or (aspect-ratio < 1/1.5) {}