body {
    background: #E0E0E0;
    font-size: 100%;

}

div {
    background-color: #D0D0D0;
    width: 300px;
    border-right: 2px solid #A0A0A0;
    border-bottom: 2px solid #A0A0A0;
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 100%;

}







header {
    border: 2px solid #B0B0B0;
    position: absolute;
    top: 50px;
    left: 100px;
    align: center;
}

aside {
    margin-top: 150px;


}

footer {
    width: 250px;
    border-top: 5px solid #B0B0B0;
    position: absolute;
    bottom: 0;

}

.contect {
    font-size: 0.9em;

}

main {
    background-color: #D0D0D0;
    border-right: 2px solid #A0A0A0;
    border-bottom: 2px solid #A0A0A0;
    position: absolute;
    width:1300px;
    top: 0px;
    left: 450px;
    min-height: 100%;


}

article {
    background-color: #B0B0B0;
    width: 90%;
    height: 300px;
    position: relative;
    top: 70px;
    left: 50px;


}


.myphoto {
    float: left;

}
