                    <div id="profile">
                        <p>
                        I earned a master’s degree in biology, with a specialization in bioinformatics, from Beijing Normal University in 2018.
                        I have been studying and working on problems related to: 
                        1) genome assembly, genome annotation, and phylogenetic analysis of microbes;
                        2) improving the computational efficiency of bioinformatics tools;
                        3) cell-type identification based on RNA-seq data.
                        </p>

                        <p>
                        My study and research interests include the origins of life, cellular mechanisms,
                        organization mechanisms of multicellular organisms,
                        the generation of intelligence of neural systems, and cancer therapy.
                        I use computational approaches to explore these questions.
                        </p>

                        <p>
                        I am always curious about the world, and learning new things excites me. 
                        Applying what I have learned to solve real-world problems gives me a sense of control
                        over my life and the ability to make a positive impact.
                        I prefer to work independently at first and then communicate my ideas to others in a clear,
                        concise, and accurate manner.
                        </p>

                    </div>

