{% extends "layout.html" %}

{% block title %}About Me | Hailing Fang{% endblock %}


{% block head_block -%}
        <link rel="stylesheet" href="/static/css/about-me.css" id="about-me-css">
        <script src="/static/js/switch-to-cv-resume-css.js" defer></script>
{%- endblock %}


{% block main_block -%}
            <div class="main-left">
                <div class="sticky-side">
                    <p id="page-title">About Me</p>
                    <p id="page-slogan">I come, I live, I die.</p>
                    <ul class="nav-list">
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="#profile">Profile</a></li>
                        <li><a href="#cv">CV</a></li>
                        <li><a href="#timeline">Timeline</a></li>
                    </ul>
                    <button id="print-cv">Print CV</button>
                    <button id="print-resume">Print resume</button>
                </div>
            </div>

            <div class="main-right">
                <div class="main-container">
                    <div id="contact">
                        <div class="contact-left">
                            <div class="infoline">
                                <span>Name</span><span>: </span><span>方海岭 | Fang Hailing</span>
                            </div>
                            <div class="infoline">
                                <span>Birthday</span><span>: </span><span>3rd Oct. 1992</span>
                            </div>
                            <div class="infoline">
                                <span>Email</span><span>: </span><span id="email-address">benjaminfang.ol@outlook.com</span>
                            </div>
                            <div class="infoline">
                                <span>Phone</span><span>: </span><span>18811321192</span>
                            </div>
                            <div class="infoline"  id="website">
                                <span>Website</span><span>: </span><span>https://hailingfang.github.io</span>
                            </div>
                        </div>
                        <div class="contact-right">
                            <img src="/about-me/fanghailing-photo.jpg" alt="my photo" width="344" height="397">
                        </div>
                    </div>

                    {% include "about-me-profile.html" %}

                    <div id="cv">
                        <div class="cv-section" id="education">
                            <p class="cv-section-head">Education</p>
                            <div class="cv-section-body">
                            {% for edu_id, degree, university, start_date, end_date, city, paper_type, paper_title ,paper_summary in data_dic["edu"] %}
                                <div class="cv-entry" id="{{ edu_id }}">
                                    <div class="cv-entry-head">
                                        <p>{{ degree }}</p>
                                    </div>
                                    <div class="cv-entry-subhead">
                                        <p class="organization">{{ university }}</p>
                                        <p class="date">{{ start_date }} - {{ end_date }}</p>
                                        <p class="location">{{ city }}</p>
                                    </div>
                                    <div class="cv-entry-detail">
                                        <p class="cv-entry-detail-head">{{ paper_type }}</p>
                                        <p class="cv-entry-detail-info">{{ paper_title }}</p>
                                        <p class="cv-entry-detail-info">{{ paper_summary }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>

                        <div class="cv-section" id="experience">
                            <p class="cv-section-head">Experience</p>
                            <div class="cv-section-body">
                            {% for job_id, job_title, employer, start_date, end_date, city, responsibilities in data_dic["exp"] %}
                                <div class="cv-entry" id="{{ job_id }}">
                                    <div class="cv-entry-head">
                                        <p>{{ job_title }}</p>
                                    </div>
                                    <div class="cv-entry-subhead">
                                        <p class="organization">{{ employer }}</p>
                                        <p class="date">{{ start_date }} - {{end_date }}</p>
                                        <p class="location">{{ city }}</p>
                                    </div>
                                    <div class="cv-entry-detail">
                                        <p class="cv-entry-detail-head">Responsibilities:</p>
                                        <p class="cv-entry-detail-info">{{ responsibilities }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>


                        <div class="cv-section" id="projects">
                            <p class="cv-section-head">Projects</p>
                            <div class="cv-section-body">

                                <div class="cv-entry" id="flml">
                                    <div class="cv-entry-head">
                                        <p><a href="https://docs-hailingfang.readthedocs.io/en/latest/file-format/index.html">FLML (File Layout Markup Language)</a></p>
                                    </div>
                                    <div class="cv-entry-detail">
                                        <p class="cv-entry-detail-head">Background and Targets:</p>
                                        <p class="cv-entry-detail-info">
                                            A meaningful file, whether text or binary, always has a specific structure or layout to represent information.
                                            There is a need to accurately describe a file’s structure and the meaning of that structure.
                                            I developed this markup language to meet that need.
                                        </p>
                                    </div>
                                </div>

                                <div class="cv-entry" id="gwastools">
                                    <div class="cv-entry-head">
                                        <p><a href="https://github.com/benjaminfang/gwastools">Gwastools</a></p>
                                    </div>
                                    <div class="cv-entry-detail">
                                        <p class="cv-entry-detail-head">Background and Targets:</p>
                                        <p class="cv-entry-detail-info">
                                            Several file formats are commonly used to store GWAS-related data,
                                            including PLINK, BGEN, BAM, and BESD files.
                                            However, different software tools are required to perform operations
                                            such as printing basic file information, extracting subsets of data,
                                            and converting binary data into plain text.

                                            The project has two main objectives:
                                            1) develop a C library that contain the core functions which is necessary for
                                            working with these file formats;
                                            2) create a utility based on the library that can perform operations
                                            on these files easily.
                                            </p>
                                    </div>
                                </div>

                                <div class="cv-entry" id="biotools">
                                    <div class="cv-entry-head">
                                        <p><a href="https://github.com/hailingfang/biotools">Biotools</a></p>
                                    </div>
                                    <div class="cv-entry-detail">
                                        <p class="cv-entry-detail-head">Background and Targets:</p>
                                        <p class="cv-entry-detail-info">
                                        The project developed a set of tools for:
                                        1) parsing commonly used bioinformatics files;
                                        2) performing phylogenetic tree analysis;
                                        3) detecting long repeats in genomes.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="cv-section" id="skills">
                            <p  class="cv-section-head">Skills</p>
                            <div class="cv-section-body">

                                <div class="cv-entry">
                                    <div class="cv-entry-detail">
                                        <p class="cv-entry-detail-head">Computer:</p>
                                        <p class="cv-entry-detail-info">Python and C Programming, A good user of linux systerm,
                                        Computer network, front-end web developing,
                                        Vector graph and raster graph mapulation.</p>
                                    </div>
                                </div>

                                <div class="cv-entry">
                                    <div class="cv-entry-detail">
                                        <p class="cv-entry-detail-head">Bioinformatics:</p>
                                        <p class="cv-entry-detail-info">Genome assembly of microbes, Phylogenetic tree analysis.</p>
                                    </div>
                                </div>

                                <div class="cv-entry">
                                    <div class="cv-entry-detail">
                                        <p class="cv-entry-detail-head">Biology:</p>
                                        <p class="cv-entry-detail-info">Cell culture, Animal dissection, Bacterial culture,
                                        PCR analysis, Color spectrum.</p>
                                    </div>
                                </div>


                                <div class="cv-entry">
                                    <div class="cv-entry-detail">
                                        <p class="cv-entry-detail-head">Language:</p>
                                        <p class="cv-entry-detail-info">IELTS: 6</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cv-section" id="course">
                            <p class="cv-section-head">Courses</p>
                            <div class="cv-section-body">
                                <div class="cv-entry">
                                    <div class="cv-entry-detail">
                                        <p class="cv-entry-detail-head">Graduate:</p>
                                        <div class="cv-entry-detail-info">
                                            <p>Protein Structure and Functions, Biochemistry and Moleculer Biology, Cell Skeleton,
                                            Advanced Cell Biology, Advanced Developmental Biology.</p>
                                            <p>Bioinfomatics, Linux Operation System, Computational Biology(Perl and R Programming).</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cv-entry">
                                    <div class="cv-entry-detail">
                                        <p class="cv-entry-detail-head">Undergraduate:</p>
                                        <div class="cv-entry-detail-info">
                                            <p>Advanced Mathmatics B, Collage  Physics B,
                                            Collage Chemistry 1 to 3(Inorganic Chemistry, Organic Chemistry, Physical Chemistry).</p>
                                            <p>Cell Biology, Biochemistry, Genetics, Moleculer Biology, Genetic Engineering, Cell Engineering.</p>
                                            <p>Plant Biology, Animal Biology, Microbiology, Animal Histology, Animal Physiology.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="cv-section" id="rewards">
                            <p class="cv-section-head">Rewards</p>
                            <div class="cv-section-body">
                                <div class="cv-entry">
                                    <div class="cv-entry-detail">
                                        <p class="cv-entry-detail-head">Graduate:</p>
                                        <div class="cv-entry-detail-info">
                                            <p>Graduate Second-class Scholarship(twich), Graduate New Student Scholarship.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cv-entry">
                                    <div class="cv-entry-detail">
                                        <p class="cv-entry-detail-head">Undergraduate:</p>
                                        <div class="cv-entry-sup-info">
                                            <p>Excellent Student Scholarship, Outstanding Graduate of the School, Triple-A Student.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="cv-section" id="publications">
                            <p class="cv-section-head">Publications</p>
                            <div class="cv-section-body">
                            {% for id, pub_authors, pub_title, pub_journal, pub_link, pub_contributions in data_dic["pub"] %}
                                <div class="publication-entry">
                                    <p class="pub-title">{{ pub_authors }}. <a href="{{ pub_link }}">{{ pub_title }}</a>. {{ pub_journal }}.</p>
                                    <p class="contribution-key">Contribution:</p>
                                    <p class="pub-contribution">{{ pub_contributions }}</p>
                                </div>
                            {% endfor %}
                            </div>
                        </div>

                        <div class="cv-section" id="personal-summary">
                            <p class="cv-section-head">Personal Summary</p>
                            <div class="cv-section-body">
                                <p>I am passionate about learning and technology,
                                    and have a curious mind about many subjects, including biology,
                                    computers, and electronics. I hold strong moral values and strive
                                    for self-improvement. I am easy to get along with and value
                                    peaceful relationships.
                                    Before undertaking any task, I prefer to acquire a
                                    systematic understanding of the relevant background knowledge.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="life-record" id="timeline">
                        <div class="life-record-wrapper">
                            <div class="life-title">
                                <p>Timeline</p>
                            </div>
                            <div class="life-head">
                                <div id="hrf1c" class="head-field">Timeline</div>
                                <div id="hrf2c" class="head-field">Milestone</div>
                                <div id="hrf3c" class="head-field">Highlight</div>
                            </div>
                            <div class="life-body">
                            {% for id, time_mark, milestone, highlight in data_dic["timeline"] %}
                                <div class="body-row">
                                    {% if time_mark != "" -%}
                                    <div class="brf1"><p class="brf1c">&#151;{{ time_mark }}</p></div>
                                    {%- else -%}
                                    <div class="brf1"></div>
                                    {%- endif %}
                                    {% if milestone != "" -%}
                                    <div class="brf2"><p class="brf2c">{{ milestone }}</p></div>
                                    {%- else -%}
                                    <div class="brf2"></div>
                                    {%- endif %}
                                    {% if highlight != "" -%}
                                    <div class="brf3"><p class="brf3c">{{ highlight }}</p></div>
                                    {%- else -%}
                                    <div class="brf3"></div>
                                    {%- endif %}
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{%- endblock %}


{% block footer_block -%}
{%- endblock %}
