{% extends "layout.html" %}

{% block title %}Study | Hailing Fang{% endblock %}


{% block head_block -%}
        <link rel="stylesheet" href="/static/css/study.css">
{%- endblock %}


{% block main_block -%}
            <div class="main-left">
                <div class="sticky-side">
                    <p id="page-title">Study</p>
                    <p id="page-slogan">Know and Solve</p>
                    <ul class="nav-list">
                        <li><a href="#learn">Learn</a></li>
                        <li><a href="#research">Research</a></li>
                    </ul>
                </div>

            </div>

            <div class="main-right">
            </div>

{%- endblock %}


{% block footer_block -%}
{%- endblock %}
