/*css for show and print the CV*/

body {
    padding: 0;
    border: 0;
    margin: 0;
}

header {
    display: none;
}

footer {
    display: none;
}

.main-left {
    display: none;
}

.life-record {
    display: none;
}

.main-right {
    padding: 0;
    border: 0;
    margin: 0;
}

.main-container {
    padding: 4em 3em 3em 3em;
    border: 0;
    margin: 0em auto;
    width: 65em;
}


#contact {
    padding: 1em 0em;
    border: 0px;
    border-bottom: 2px solid rgba(49, 46, 46, 0.466);
    display: grid;
    grid-template-columns: 7.5fr 2.5fr;
    align-items: stretch;
    justify-items: stretch;
    margin: 0px;
    margin-bottom: 3em;
}

.contact-left {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    grid-column: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    
    font-size: 1.1em;
    align-items: center;
    justify-items: stretch;
}

.infoline {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: grid;
    justify-items: left;
    grid-template-columns: 7fr 1fr 30fr;
}

.infoline span:first-child {
    font-weight: bold;
}

#email-address {
    word-break: break-all;
}

.contact-right {
    grid-column: 2;
    max-width: 9em;
    max-height: 9em;
}

#contact img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#profile {
    padding: 0em;
    border: 0px;
    margin: 0px;
    margin-bottom: 1em;
}

#profile > p {
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-align: justify;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0.5em;
    line-height: 1.5em;
    font-size: 1.2em;
}


#cv {
    margin: 0px;
    margin-bottom: 2em;

}

.cv-section {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    margin-bottom: 3em;
    line-height: 1.3em;
}

.cv-section-head {
    font-weight: bold;
    font-size: 1.3em;
    padding: 0.2em;
    padding-left: 0.4em;
    padding-top: 0.4em;
    padding-bottom: 0.1em;
    border: 0px;
    border-left: 0.2em solid rgba(28, 34, 36, 0.5);
    border-bottom: 0.1em solid rgba(71, 82, 85, 0.5);
    margin: 0px;
    border-top-left-radius: 0.8em;
    margin-bottom: 1.8em;
}

.cv-section-body {
    padding: 0px;
    border: 0px solid red;
    margin-left: 0.5em;
    margin-right: 0.3em;
}

.cv-entry {
    margin-bottom: 1.8em;
}

.cv-entry-head {
    padding: 0px;
    border: 0;
    margin: 0px;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.3em;
    color: rgb(30, 76, 145);
}

.cv-entry-subhead {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    padding: 0em;
    border: 0px solid red;
    margin: 0px;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 1em;
    
}

.organization,
.date,
.location {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border: 0;
}

.cv-entry-detail {
    padding: 0em;
    border: 0px solid red;
    margin: 0px;
}


.cv-entry-detail-head {
    font-style: italic;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(25, 47, 70);
    margin-bottom: 0.3em;
}

.cv-entry-detail-info {
    padding: 0px;
    border: 0px solid red;
    margin: 0px;
    margin-left: 0.15em;
    margin-bottom: 0.5em;
    line-height: 1.3em;
    text-align: justify;
    
}

.cv-entry-detail-info a {
    color: rgb(54, 54, 163);
    text-decoration: underline;
}


.cv-entry-detail-info span {
    font-weight: bold;
}


.publication-entry {
    margin-top: 2em;
    line-height: 1.3em;
    text-align: justify;
}

.pub-title {
    font-size: 1.1em;
    margin-bottom: .5em;
}

.contribution-key {
    font-weight: bold;
    margin-bottom: .5em;
}

#personal-summary {
    display: none;
}

