#documentation {
    background-color: rgb(63, 65, 68);
}

iframe {
    width: 100%;
    min-height: 87vh;
    object-fit: contain;
    border: none; /* Remove border */
}

main {
    display: block;
}
